<section class="list">
    {% for project_hash in site.project-list %}
    {% assign project = project_hash[1] %}
        <div class="item">        		
                <a class="url" href="{{ project.url }}">{{ project.conference }}</a>
                <p class="description">{{ project.name }}</p>
                <p class="description">{{ project.conference-description }}</p> 
                <p class="description">{{ project.location }}</p> 
                <p class="description">Preprint - <a href="{{ project.preprint }}">PDF</a></p>
                <p class="description"><a href="{{ project.presentation }}">{{project.presentationTitle}}</a></p>
                <p class="description"><a href="{{ project.ieee-spectrum }}">IEEE Spectrum Article</a></p>
                <p class="description"><a href="{{ project.gitlab-feature }}">GitLab Feature Request</a></p>
                <p class="description"><a href="{{ project.bitbucket-feature }}">BitBucket Feature Request</a></p>
        </div>
    {% endfor %}
</section>
